<div id="main">
  <div class="user_form">
    <app-user-form
    [selectedUser] = selectedUser
    (getPreviousUserEvent) = getPreviousUser($event)
    (getNextUserEvent) = getNextUser($event)
    (addUserEvent) = addUser($event)
    (updateUserEvent) = updateUser($event)
    (deleteUserEvent) = deleteUser($event)
    ></app-user-form>
  </div>
</div>