<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12 pl-md-5 pl-sm-1 border-top border-bottom mx-auto">
      <div class="row ">
        <div class="col-12">
          <button type="button" class="btn btn-dark mr-1 mb-1" (click)="getPreviousUser()" [disabled]="addUserClicked">Previous</button>
          <button type="button" class="btn btn-dark mr-1 mb-1" (click)="getNextUser()" [disabled]="addUserClicked">Next</button>
          <button type="button" class="btn btn-info mr-1 mb-1" (click)="updateUser()" [disabled]="addUserClicked">Update</button>
          <button type="button" class="btn btn-primary mr-1 mb-1" (click)="addUser()">Add</button>
          <button type="button" class="btn btn-danger mr-1 mb-1" (click)="deleteUser()" [disabled]="addUserClicked">Delete</button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <div class="custom_label">Name:</div>
          <div class="custom_label">Surname:</div>
          <div class="custom_label">Company:</div>
          <div class="custom_label">Job Title:</div>
          <div class="custom_label">Mobile Phone:</div>
          <div class="custom_label">Email:</div>
        </div>
        <div class="col-8">
          <form>
              <div>
                <input type="text" class="form-control rounded-0" name="inputName"placeholder="Insert name" [(ngModel)]=selectedUser.name [disabled]="inputsDisable">
              </div>
              <div>
                  <input type="text" class="form-control rounded-0" name="inputSurname"placeholder="Insert surname" [(ngModel)]=selectedUser.surname [disabled]="inputsDisable">
              </div>
              <div>
                  <input type="text" class="form-control rounded-0" name="inputCompany"placeholder="Insert company" [(ngModel)]=selectedUser.company [disabled]="inputsDisable">
              </div>
              <div>
                  <input type="text" class="form-control rounded-0" name="inputJobTitle"placeholder="Insert job title" [(ngModel)]=selectedUser.job_title [disabled]="inputsDisable">
              </div>
              <div>
                  <input type="number" class="form-control rounded-0" name="inputMobilePhone"placeholder="Insert phone" [(ngModel)]=selectedUser.phone [disabled]="inputsDisable">
              </div>
              <div>
                  <input type="email" class="form-control rounded-0" name="inputEmail"placeholder="Insert email" [(ngModel)]=selectedUser.email [disabled]="inputsDisable">
              </div>
              <button *ngIf="!inputsDisable" type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
              <div *ngIf="addUserClicked && !validateForm()">Please insert all fields before submit!</div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
